*{
    margin: 0;
    padding: 0;
    /* neyin margini paddingi varsa sifirlasin ozumuz margin padding verek */
    box-sizing: border-box;              
    /* divin olcusu ne qederdirse ona uygunlasdirsin */
    font-family: 'Special Elite', cursive;
}


/* .first{
    background-image: url();
    background-position: center; Sekili ortala
    background-size: cover; Divin olcusu ne qederdirse onu ehate et, tut
    background-repeat: no-repeat; Sekil tekrarlanmir
} */

/* .first h1{
    user-select: none;  Yazini secmek olmur
} */